{% extends "base.html" %}
{% load bootstrap4 %}

{% load static %}


{% block body%}


<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Hello {{profile.user}}!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Profile Summery</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Name: <span>{{profile.user}}</span></li>
                            <li>Email: <span>{{profile.user.email}} Position</span></li>
                            <li>Phone: <span>{{profile.phone_number}}</span></li>
                            <li>Address: <span>Cairo, EGY</span></li>
                            <li>Country: <span>{{profile.country}}</span></li>
                        </ul>
                    </div>
                    <div class="p-5">
                        <a class="btn btn-default btn-lg boxed-btn3 w-100" href="{% url 'accounts:profile_edit' %}"
                            target="_blank">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body%}